.upload-container {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #7095f9;
    border-radius: 15px;
    background: #ffffff;
    text-align: center;
}

.upload-box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    padding: 20px;
    border: 2px dashed #007bff;
    cursor: pointer;
    margin: 15px 0px;
}

.upload-box input {
    display: none;
}

.upload-icon {
    font-size: 30px;
    color: #007bff;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

.input-group label {
    font-weight: bold;
}

.input-group select,
.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.preview-container {
    margin-top: 15px;
}

.preview-image {
    width: 100%;
    max-width: 250px;
    border-radius: 5px;
    margin-top: 10px;
}

.uploadButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.uploadButton:hover {
    background-color: #0056b3;
}

/* Toggle Buttons */
.toggle-group {
    display: flex;
    position: relative;
    width: 200px; /* Adjust width as needed */
    height: 40px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 1.5px solid #007bff;
}

.toggle-button {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 40px;
    color: #007bff;
    transition: color 0.3s ease;
    position: relative;
    z-index: 2;
}

.toggle-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #007bff;
    border-radius: 10px;
    transition: left 0.3s ease;
    z-index: 1;
}

.toggle-group.noncurricular .toggle-active {
    left: 50%;
}

.toggle-group .toggle-button.active {
    color: white;
}
